body {
    width: 600px;
}
#logo{
    width:200px;
}
#bedrijfsNaam{
    
    top: 15px;
    left: 10px;
    width: 298px;
    text-align:center;
}
#datumNaam{
    
}

#topRow{
    height:150px;
    width:600px;
    background-color:blue;
}

.topContainer{
    float:left;
    display:inline;
    height:150px;
    background-color:blue;
}

#mainMenu{
    position:absolute;
    height:400px;
    width:130px;
    background-color:yellow;
}
#content{
    position:absolute;
    margin-left:130px;
    height: 400px;
    width: 470px;
    background-color:lightyellow;
}

#pageContent{
}

#footer{
    margin-top:400px;
    width:600px;
    background-color:black;
    text-align:center;
    color:white;
}