<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRAppLib.Properties.Settings.HRConnectionString" connectionString="Data Source=www.dbss.nl;Initial Catalog=HR;Persist Security Info=True;User ID=IAO4;Password=IAO4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>